/* || fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* || reset css */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
}

/* || colors */

:root{
    --primary-color:#00adef;
    --primary-color-dark:#007ABC;
    --primary-color-light:#E6FFFF;
    --grey-color:#9A9A9A ;
    --text-color:#282828;
    --white-color:#ffffff;
    --lynx-white-color: #F7F7F7;
    --lynx-gray-color:#C5C5C5;
}

/* || general styles */

html{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: var(--text-color);
    background-color: var(--white-color);
}

.button{
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 600;
}

/* || utilities */

.flex-col{
    flex-direction: column;
}

/* || header */

.header{
    border-bottom: 1px solid var(--lynx-gray-color);
}

.header-docs{
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--lynx-gray-color);
}

.header-logo{
    color: var(--primary-color);
    margin-left: 2rem;
    width: 9rem;
    align-items: center;
}

.header-nav{
    margin-left: auto;
}

.header-nav li{
    display: inline-block;
    margin: 0 1rem;
}

.header-nav a{
    color: var(--text-color);
    font-weight: 500; 
    padding: 0.5rem;
    border-radius: 0.5rem;   
}

.header-nav a:hover{
    color: var(--primary-color);
    background-color: var(--primary-color-light);    
}

/* || hero */

.hero-content{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-content .btn-wrapper{
    display: flex;
    gap: 1rem;
}

.hero-text{
    font-size: 4rem;
    line-height: 4.8rem;
}

.hero-text-focus{
    color: var(--primary-color);
}

.hero-image{
    width: 30vw;
    border-radius: 0.5rem;
    object-fit: cover;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

/* || docs */

.docs-content{
    display: flex;
    gap: 2rem;
}

.sidenav{
    position: sticky;
    top: 4.05rem;
    overflow-y: scroll;
    height: 90vh;
    width: 15rem;
    text-align: center;
    padding: 2rem 0;
}

.docs{
    flex-grow: 1;
    padding: 0 2rem;
    margin-top: 2rem;
}

.sidenav ul{
    list-style: none;
}

.sidenav a:hover{
    background-color: var(--primary-color-light);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.sidenav a{
    color: var(--text-color);
    font-weight: 400;
    padding: 0.8rem;
    width: 90%;
}

.component-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1.5rem 0;
    border: 2px solid var(--lynx-gray-color);
    align-items: center;
    justify-content: center;
    border-radius:0.3rem;
    width: 100%;
    gap: 1rem;
}

iframe{
    margin-bottom: 3rem;
}

.brief-docs{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

.example-desc{
    margin: 0.5rem 0;
}

.btn-go-up{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 5;
}

/* || media queries */

@media only screen and (max-width:1280px){
    .docs{
        padding: 0;
    }
    
    .docs-content{
        padding: 0 1rem;
        gap: 1rem;
    }
    
    .sidenav{
        margin-right: 1rem;
    }
    
}

@media only screen and (max-width:1040px) {
    .hero-text{
        font-size: 3.5rem;
        width: 10ch;
    }    

    .hero-sub-text{
        width: 35ch;
    }

    .hero-content{
        width: 40vw;
    }

    .hero-image{
        width: 40vw;
    }
}

@media only screen and (max-width:1024px){
    .sidenav{
        display: none;
    }
}

@media only screen and (max-width:768px){
    html{
        font-size: 90%;
    }
}

@media only screen and (max-width:640px){
    html{
        font-size: 70%;
    }
    
    .docs{
        padding: 0 0.5rem;
    }
}

@media only screen and (max-width:480px){
    .hero-image{
        display: none;
    }

    .hero{
        justify-content: center;
    }

    .hero-content{
        width: 70vw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}