/* || fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* || reset css */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* || colors */

:root{
    --primary-color:#00adef;
    --primary-color-dark:#007ABC;
    --primary-color-light:#E6FFFF;
    --grey-color:#9A9A9A ;
    --text-color:#282828;
    --white-color:#ffffff;
    --lynx-white-color: #F7F7F7;
    --lynx-gray-color:#C5C5C5;
}

/* || general styles */

html{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: var(--text-color);
    background-color: var(--white-color);
}

button{
    border: none;
    cursor: pointer;
}

.button{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    display: inline-block;
}

.primary-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;    
}

.primary-btn:hover{
    background-color: var(--primary-color-dark);
}

.secondary-btn{
    background-color: var(--white-color);
    color: var(--text-color);
    border: 2px solid var(--lynx-gray-color);
    margin-left: 1rem;
    font-weight: 500;    
}

.secondary-btn:hover{
    background-color: var(--lynx-gray-color);
    color: var(--white-color);
}

/* || utilities */

.flex-col{
    flex-direction: column;
}

/* || header */

.header-docs{
    display: flex;
    align-items: center;
    height: 4rem;
    margin-bottom: 2rem;
    padding: 2.5rem 0;
}

.header-logo{
    color: var(--primary-color);
    margin: 0 5rem;
}

.header-nav li{
    display: inline-block;
    margin-left: 2rem;
}

.header-nav a{
    color: var(--text-color);
    font-weight: 500; 
    padding: 0.5rem;
    border-radius: 0.5rem;   
}

.header-nav a:hover{
    color: var(--primary-color);
    background-color: var(--primary-color-light);    
}

/* || hero */

.hero-content{
    width: 25rem;
}

.hero-text{
    font-size: 4rem;
}

.hero-text-focus{
    color: var(--primary-color);
}

.hero-image{
    width: 25rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-sub-text{
    margin: 1.5rem 0;
    color: var(--grey-color);
}

/* || docs */

.docs-content{
    display: flex;
    padding: 0 2rem;
    gap: 2rem;
}

.sidebar{
    position: relative;
    width: 12rem;
}

.sidenav{
    position: sticky;
    top: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.docs{
    flex-grow: 1;
    padding: 0 2rem;
}

.sidenav ul{
    list-style: none;
}

.sidenav li:hover{
    background-color: var(--primary-color-light);
    border-radius: 0.5rem;
}

.sidenav a{
    color: var(--text-color);
    font-weight: 400;
    padding: 0.8rem 2rem;
}

.sidenav a:hover{
    color: var(--primary-color);
}

.component-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1.5rem 0;
    border: 2px solid var(--lynx-gray-color);
    align-items: center;
    justify-content: center;
    border-radius:0.3rem;
    width: 100%;
    gap: 1rem;
}

iframe{
    margin-bottom: 3rem;
}

.brief-docs{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

.example-desc{
    margin: 0.5rem 0;
}

/* || media queries */

@media only screen and (max-width:768px){
    html{
        font-size: 80%;
    }
}

@media only screen and (max-width:640px){
    html{
        font-size: 70%;
    }
}

@media only screen and (max-width:480px){
    html{
        font-size: 60%;
    }

    .hero-image{
        display: none;
    }

    .hero{
        height: 60vh;
        justify-content: center;
    }

    .hero-content{
        text-align: center;
    }
}