/* || fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* || reset css */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* || colors */

:root{
    --primary-color:#00adef;
    --grey-color:#9A9A9A ;
    --text-color:#282828;
    --white-color:#ffffff;
    --lynx-white-color: #F7F7F7;
    --lynx-gray-color:#C5C5C5;
}

/* || general styles */

html{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: var(--text-color);
    background-color: var(--white-color);
}

button{
    border: none;
    cursor: pointer;
}

.button{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    display: inline-block;
}

.primary-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 500;    
}

.secondary-btn{
    background-color: var(--white-color);
    color: var(--text-color);
    border: 2px solid var(--lynx-gray-color);
    margin-left: 1rem;
    font-weight: 500;    
}

/* || header */

header{
    display: flex;
    align-items: center;
    height: 4rem;
    margin-bottom: 2rem;
    padding: 2.5rem 0;
}

.header-logo{
    color: var(--primary-color);
    margin: 0 5rem;
}

.header-nav li{
    display: inline-block;
    margin-left: 2rem;
}

.header-nav a{
    color: var(--text-color);
    font-weight: 500;    
}

.header-nav a:hover{
    color: var(--primary-color);    
}

/* || hero */

.hero-content{
    width: 20rem;
}

.hero-text{
    font-size: 4rem;
}

.hero-text-focus{
    color: var(--primary-color);
}

.hero-image{
    width: 25rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-sub-text{
    margin: 2rem 0;
    color: var(--grey-color);
}

/* || docs */

.docs-content{
    display: flex;
    padding: 0 3rem;
    gap: 5rem;
}

.sidebar{
    /* flex-basis: 50rem; */
    position: relative;
}

.sidenav{
    position: sticky;
    top: 0;
}

.docs{
    flex-grow: 1;
}

.sidenav ul{
    list-style: none;
}

.sidenav li{
    padding: 1rem;
}

.sidenav a{
    color: var(--text-color);
    font-weight: 500;
}

.sidenav a:hover{
    color: var(--primary-color);
}

.component-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 2rem 0;
    border: 2px solid var(--lynx-gray-color);
    align-items: center;
    justify-content: center;
    border-radius:0.3rem;
    width: 100%;
    gap: 1rem;
}