/* || fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* || icons */

@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

/* || component files */

@import url(alert.css);
@import url(avatar.css);
@import url(badge.css);
@import url(button.css);
@import url(image.css);
@import url(input.css);
@import url(card.css);
@import url(form.css);
@import url(navbar.css);
@import url(typography.css);
@import url(list.css);
@import url(modal.css);
@import url(rating.css);
@import url(toast.css);
@import url(grid.css);
@import url(slider.css);

/* || variables */

:root{
    --primary-color:#00adef;
    --primary-color-light:#1AC7FF;
    --primary-color-lighter:#E6FFFF;
    --primary-color-dark:#007ABC;
    --primary-color-50:#EFF6FF;
    --primary-color-100:#DBEAFE;
    --primary-color-200:#BFDBFE;
    --action-color: #0d6efd;
    --grey-color:#9A9A9A ;
    --black-color-300:#D1D5DB;
    --black-color-400:#9CA3AF;
    --black-color-500:#687280;
    --text-color:#282828;
    --white-color:#ffffff;
    --lynx-white-color: #F7F7F7;
    --lynx-gray-color:#C5C5C5;
    --green-color-50:#ECFDF5;
    --green-color-100:#D1FAE5;
    --green-color-200:#A7F3D0;
    --green-color-300:#6EE7B7;
    --green-color-400:#34D399;
    --green-color-600:#059669;
    --green-color-700:#047857;
    --green-color-800:#065F46;
    --green-color-900:#064E3B;
    --yellow-color-200:#FDE68A;
    --yellow-color-900:#78350F;
    --star-color:#ffb900;
    --red-color-200:#FECACA;
    --red-color-400:#EF4444;
    --red-color-900:#7F1D1D;
    --maroon-color:#800000;
    --text-gray:#3E5060;
    --border-radius: 0.5rem;
    --border-radius-1: 1rem;
    --z-index-1:1;
    --z-index-2:2;
    --z-index-3:3;
    --z-index-4:4;
    --z-index-5:5;
}

/* || reset css */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

button{
    border: none;
    cursor: pointer;
}

input{
    outline: none;
}

/* || scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--primary-color-light);
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary-color-light);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 3px solid var(--primary-color-light);
  }

/* || general styles */

html {
	scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

img{
    object-fit: cover;
}

.box-shadow{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

/* || media queries */

@media only screen and (max-width:768px){
    html{
        font-size: 90%;
    }
}

@media only screen and (max-width:640px){
    html{
        font-size: 70%;
    }
}